.gradle
gradle/
build/
out/

# Ignore Gradle GUI config
gradle-app.setting
gradlew*
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml

\.idea/libraries/Gradle__org_apache_commons_commons_lang3_3_7\.xml

\.idea/libraries/Gradle__com_typesafe_config_1_2_1\.xml

\.idea/libraries/Gradle__commons_io_commons_io_2_5\.xml

\.idea/libraries/Gradle__io_github_bonigarcia_webdrivermanager_1_7_1\.xml

\.idea/libraries/Gradle__org_apache_commons_commons_compress_1_9\.xml

\.idea/libraries/Gradle__org_jsoup_jsoup_1_10_2\.xml

\.idea/libraries/Gradle__org_rauschig_jarchivelib_0_7_1\.xml

\.idea/libraries/Gradle__org_slf4j_slf4j_api_1_7_24\.xml

\.idea/libraries/Gradle__org_hamcrest_java_hamcrest_2_0_0_0\.xml

\.idea/modules/addressbook-web-tests_main\.iml

\.idea/modules/addressbook-web-tests_test\.iml

\.idea/compiler\.xml

\.idea/modules\.xml

\.idea/modules/jav_lessons-addressbook-web-tests_main\.iml
#.idea/compiler.xml
#.idea/compiler.xml
#.idea/modules.xml
.idea/*
hibernate-tutorials/*
*.csv
*.log

addressbook-web-tests/allure-report/app\.js

addressbook-web-tests/allure-report/data/behaviors\.json

addressbook-web-tests/allure-report/data/categories\.json

addressbook-web-tests/allure-report/data/graph\.json

addressbook-web-tests/allure-report/data/packages\.json

addressbook-web-tests/allure-report/data/suites\.json

addressbook-web-tests/allure-report/data/test-cases/2409a59a2373b6ec\.json

addressbook-web-tests/allure-report/data/test-cases/572ce6fcd0086af8\.json

addressbook-web-tests/allure-report/data/test-cases/647a754046c35966\.json

addressbook-web-tests/allure-report/data/test-cases/73ceb12a1fb92138\.json

addressbook-web-tests/allure-report/data/test-cases/916d5ac10aec21cf\.json

addressbook-web-tests/allure-report/data/test-cases/e6df8de6aed5039c\.json

addressbook-web-tests/allure-report/data/timeline\.json

addressbook-web-tests/allure-report/data/widgets\.json

addressbook-web-tests/allure-report/export/mail\.html

addressbook-web-tests/allure-report/export/summary\.json

addressbook-web-tests/allure-report/favicon\.ico

addressbook-web-tests/allure-report/history/history-trend\.json

addressbook-web-tests/allure-report/history/history\.json

addressbook-web-tests/allure-report/index\.html

addressbook-web-tests/allure-report/plugins/behaviors/index\.js

addressbook-web-tests/allure-report/plugins/packages/index\.js

addressbook-web-tests/allure-report/plugins/screen-diff/index\.js

addressbook-web-tests/allure-report/plugins/screen-diff/styles\.css

addressbook-web-tests/allure-report/styles\.css
